<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div class="section">
        <div class="container">
            <h2>About OgwenoTech Solutions</h2>
            <div class="text-dark">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio amet repellendus mollitia, voluptatum obcaecati nam iste, cumque nihil autem quis, dolorum pariatur temporibus quas voluptatibus molestiae! Beatae fuga necessitatibus tenetur.
            </div>
        </div>
    </div>
</body>
</html>